{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .form-control {
        display: inline !important;
        width: 12% !important;
    }
    .border{
        border-color: rgb(216, 218, 232);
        border-radius: 20px;
        padding: 16px;
        margin: 10px;
    }

</style>

<div class="example-wrapper">
    <h1>Hello on Matchs list ✅</h1>
    {% if not app.user %}
        Pour pouvoir parrier, vous devez vous <a href="/public/index.php/register?">créer un compte</a> <br>
        Si vous possédez déjà un compte, <a href="/public/index.php/login?">connectez-vous</a>
    {%  endif %}

    {% for key,match in matchs %}
        <div class="border">
            <li>
                {{ match.teams.domicile }} VS {{ match.teams.exterieur }}
                <ul>
                    {% if match.scores.domicile is defined %}
                        {% if match.scores.domicile is not null %}
                            Score : {{ match.scores.domicile}} - {{ match.scores.exterieur }}

                        <ul>
                        {% if match.scores.tireaubut == true %}
                            {% if match.scores.tireaubut is defined %}
                                Tir aux buts - vainqueur :

                                {% if match.scores.winner == "exterieur" %}
                                    {{ match.teams.exterieur }}
                                {% endif %}

                                {% if match.scores.winner == "domicile" %}
                                    {{ match.teams.domicile }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </ul>

                        {% endif %}
                    {% endif %}

                </ul>

                <ul>
                    {% if match.date is defined %}
                        {% if match.date is not null %}
                            Date du match : {{ match.date}}

                        {% endif %}
                        {% if app.user and 'now'|date('Y-m-d H-m-s', "Europe/Paris") < match.date|date('Y-m-d H-m-s', "Europe/Paris") %}
                            <form method="POST" action="bet">
                                <label for="scoreDomicile">Score domicile</label>
                                <input type="number" name="scoreDomicile" id="scoreDomicile" class="form-control" min=0 max=149>
                                <label for="inputScore2">Score extérieur</label>
                                <input type="number" name="scoreExterieur" id="scoreExterieur" class="form-control" min=0 max=149>
                                <input id="matchId" name="matchId" type="hidden" value="{{ key }}">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Parier
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        </div>
    {% endfor %}

</div>

{% endblock %}
