{% extends 'base.html.twig' %}

{% block title %}Matchs{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .form-control {
        display: inline !important;
        width: 12% !important;
    }
    .border{
        border-color: rgb(216, 218, 232);
        border-radius: 20px;
        padding: 16px;
        margin: 10px;
        background-color: rgb(244, 246, 248);
    }
    .content{
        margin: 0 auto;
        width: 500px;
        text-align: center;
    }
    input {
        width: 46px;
        height: 46px;
        font-size: 26px;
        text-align: center;
        color: rgb(37, 117, 252);
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        border-width: 1px;
        border-color: rgb(216, 218, 232);
    }
    .bet_inputs{
        text-align: center;
    }
    .bet_inputs input{
        width: 80px !important;
    }
    .bet_button{
        text-align: center;
        margin: 20px auto auto auto;
    }
    .tirsauxbuts{
        margin: 0 auto;
        width: 300px;
    }

</style>

<div class="example-wrapper">
    <h1>Les matchs ⚽</h1>
    {% if not app.user %}
        Pour pouvoir parrier, vous devez vous <a href="/public/index.php/register?">créer un compte</a> <br>
        Si vous possédez déjà un compte, <a href="/public/index.php/login?">connectez-vous</a>
    {%  endif %}

    {% for key,match in matchs %}
        {% if match.date is defined %}
            {% if match.date is not null %}
                {{ match.date |date('d/m/Y à H:i') }}
            {% endif %}
        {% endif %}
        <div class="border">
                <div class="content">
                    <div class ="countries">
                        <b>{{ match.teams.domicile }}</b> VS <b>{{ match.teams.exterieur }}</b>
                    </div>
                    <div class ="scores">
                        {% if match.scores.domicile is defined %}
                            {% if match.scores.domicile is not null %}
                            <input type="text" name="scores-domicile" value="{{ match.scores.domicile}}" disabled="disabled" />
                            -
                            <input type="text" name="scores-domicile" value="{{ match.scores.exterieur}}" disabled="disabled" />
                    </div>
                    <div class ="tirsauxbuts">
                            {% if match.scores.tireaubut == true %}
                                {% if match.scores.tireaubut is defined %}
                                    Tir aux buts - vainqueur :

                                    {% if match.scores.winner == "exterieur" %}
                                        {{ match.teams.exterieur }}
                                    {% endif %}

                                    {% if match.scores.winner == "domicile" %}
                                        {{ match.teams.domicile }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% endif %}
                        {% endif %}
                    </div>
                        {% if match.date is defined %}
                            {% if app.user and 'now'|date('Y-m-d H-m-s', "Europe/Paris") < match.date|date('Y-m-d H-m-s', "Europe/Paris") %}
                                <form method="POST" action="bet">
                                    <div class="bet_inputs">
                                        <input type="number" name="scoreDomicile" id="scoreDomicile" class="form-control" min=0 max=149>
                                        -
                                        <input type="number" name="scoreExterieur" id="scoreExterieur" class="form-control" min=0 max=149>
                                        <input id="matchId" name="matchId" type="hidden" value="{{ key }}">
                                    </div>
                                        <div class="bet_button">
                                        <button class="btn btn-lg btn-primary" type="submit">
                                            Parier
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                </div>
        </div>
    {% endfor %}

</div>

{% endblock %}
